<app-header></app-header>

<ion-content>

  <a href="/celebrities" class="btn btn-primary mt-5" style="margin-left: 50px">Voltar</a>

  <div class="mt-5">
    <img src="https://image.tmdb.org/t/p/w500{{dataCelebrity.profile_path}}"
      class="rounded mx-auto d-block border border-3 border-primary" alt="{{dataCelebrity.name}}">

    <div style="padding-left: 50px; padding-right: 50px; margin: 50px 0 50px 0;">
      <h1>Nome: {{dataCelebrity.name}}</h1>
      <h1>Popularidade: {{dataCelebrity.popularity}}</h1>
      <h1>Nascimento: {{dataCelebrity.birthday | date:'dd/MM/yyyy'}}</h1>
      <h1>Local de nascimento: {{dataCelebrity.place_of_birth}}</h1>
      <h1>Biografia: {{dataCelebrity.biography}}</h1>
    </div>
  </div>
</ion-content>

<app-footer></app-footer>